input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type=button]:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

input[type=button]:active {
    background-color: #3e8e41; /* Even darker green when pressed */
    transform: translateY(2px); /* Simulate a "pressing" effect */
}

.messageError, .messageSuccess {
    margin: 10px 0;
}

.messageError {
    color: red;
}

.messageSuccess {
    color: #4CAF50;
}